<!DOCTYPE html>
<html>
<head>
	<title>Login Here</title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'%}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
	<div id="particles-js" >

 <h3 style="height: -3px ; margin-left: 40px" >Exam Committee Management System</h3>


<div id="design" >
	<br><br>
 <p>  <br> <br> Department of <br> Computer Science & Engineering <br>   </p>
   <h3> SYLHET ENGINEERING COLLEGE </h3>

</div>




<a href ="login/">
	<button  class="button1">
		Admin Login </button>
</a>




<a href="log2/">
<button class="button2">User Login </button>
</a>


	</div>



<script  src=""{% static 'css/particles.js'%}" type="text/javascript"></script>
	<script  src=""{% static 'css/app.js' %}" type="text/javascript" ></script>



</body>
</html>