<!DOCTYPE html>
<html>
<head>
<title  >  List Of Teachers  </title>


<style type="text/css">


body{

background-color:#00FF7F;

}

table.center {
    margin-left:auto;
    margin-right:auto;
  }

table th{


text-align: left;
background-color:#191970;
color: #FFF;
padding: 10px 60px 20px 60px;
font-size: 27px;


}

table  td{

	border:7px solid;
	padding: 7px 15px;
}


</style>

</head>

<body>

<h1> Teachers Information Table : </h1>

<table class="center" >

<tr>


<th> Name </th>
<th>Email Id:</th>


</tr>

{% for a in a %}
<tr>
<td> {{a.username}} </td>
    <td>{{a.email}}</td>
</tr>
    {%endfor%}
</table>

</body>

</html>